---
Checks: "
  bug-prone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  modernize-*,
  -modernize-use-trailing-return-type,
  reability-*,
  -readability-magic-numbers,
  "
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: file
